@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 900;
  src: local('Orbitron-Black'), url(https://fonts.gstatic.com/s/orbitron/v7/FyvTORElv6iWeP2Jf9yG3Y4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
}
